<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/adminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<servlet-class>servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BookServlet</servlet-name>
  	<servlet-class>servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookServlet</servlet-name>
  	<url-pattern>/bookServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>  
            <taglib-location>/WEB-INF/fmt.tld</taglib-location>  
        </taglib>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>  
            <taglib-location>/WEB-INF/c.tld</taglib-location>  
        </taglib>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>  
            <taglib-location>/WEB-INF/fn.tld</taglib-location>  
        </taglib>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/perTag</taglib-uri>  
            <taglib-location>/WEB-INF/permittedTaglibs.tld</taglib-location>  
        </taglib>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>  
            <taglib-location>/WEB-INF/sql.tld</taglib-location>  
        </taglib>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/script</taglib-uri>  
            <taglib-location>/WEB-INF/scriptfree.tld</taglib-location>  
        </taglib>  
        <taglib>  
            <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>  
            <taglib-location>/WEB-INF/x.tld</taglib-location>  
        </taglib>  
    </jsp-config>  
</web-app>